---
---

@import 'compass';
@import 'mixins';
@import 'vars';

body {
    font-family: "Roboto", sans-serif;
}

h1,
h1 a,
.header h1,
.header h1 a {
    font: 700 42px/66px "Roboto", "Montserrat", sans-serif;
    margin-bottom: 30px;
    font-weight: 700;
    color: #2C3E50;
}

.postlist article:last-child {
    border-bottom: 0;
}

p {
    font: 400 14px/28px "Roboto",sans-serif;
}

.postcontents p {
    font: 400 14px/28px "Roboto",sans-serif;
    color: #7A7A7A;
}

a {
    font: 400 14px/28px "Roboto",sans-serif;
}

.postcontents ol, .postcontents ul {
    font: 400 14px/28px "Roboto",sans-serif;
    color: #A0A0A0 !important;
}

.postcontents.index p {
	display: block;
}

.postcontents p {
    margin: 30px 0px;
    clear: both;
}

.postcontents > p:first-child {
    font: 400 16px/42px "Montserrat", serif;
    color: #5A5A5A !important;
}

.postcontents p:nth-of-type(1) {
    color: #7A7A7A;
}

.postcontents strong {
    font-weight: 500;
}

.postcontents {
    h1, h2, h3, h4, h5, h6 {
        color: #7A7A7A;
        padding: 10px 0px;
        font-family: "Montserrat",serif;
        line-height: 1;
        margin: 40px 0 0 0;
        font-weight: 400;
    }

    h1 {
        font-size: 42px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 20px;
    }

    h1 + .highlight,
    h2 + .highlight,
    h3 + .highlight,
    h4 + .highlight,
    h5 + .highlight,
    h6 + .highlight {
        margin-top: 30px;
    }
}

.post {
    a.readmore {
        display: inline-block;
        padding-bottom: 18px;
        margin-top: 30px;
        border-bottom: 2px solid #DC5034;
        font: 700 14px/1 "Montserrat",sans-serif;
        text-transform: uppercase;
        color: #DC5034;
    }
}

ul.post-meta {
    list-style: none;
    margin-bottom: 20px;
    font-size: 0px;
    line-height: 0;
    padding: 0;

    li {
        color: #BABABA;
        display: inline-block;
        padding-right: 25px;
        margin-right: 20px;
        position: relative;
        font-size: 12px;
        line-height: 1;
        text-transform: uppercase;

        &:after {
            content: "";
            display: block;
            width: 5px;
            height: 5px;
            margin-top: -3px;
            border-radius: 50%;
            background-color: #BABABA;
            position: absolute;
            top: 50%;
            right: 0px;
        }

        &:last-child:after {
            display: none;
        }

        & a {
            font-family: "Roboto", sans-serif;
            font-size: 12px;
            color: #BABABA;

            &.tag {
                font: 400 11px Montserrat,Arial,sans-serif;
                float: none;
            }
        }
    }
}

a.tag,
.tags_list li a.tag {
    display: inline-block;
    padding: 6px 14px;
    float: left;
    margin: 0px 6px 12px 0px;
    background: none repeat scroll 0% 0% #F7F6F6;
    color: #BABABA;
    border-radius: 4px;
    font: 400 12px Montserrat,Arial,sans-serif;
    text-transform: uppercase;

    &:hover {
        background: none repeat scroll 0% 0% #DC5034;
        color: #FFF;
    }
}

pre, pre code {
    font-family: "Source Code Pro", "Consolas", "Menlo", "Monaco", "Courier New", Courier, monospace;
    color: #CB6077;
    background-color: #FAFAFA;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
}

pre, code {
	font-family: "Source Code Pro", "Consolas", "Menlo", "Monaco", "Courier New", Courier, monospace;
    color: #CB6077;
    background-color: #FAFAFA;
    font-size: 13px;
    font-weight: normal;
}

.highlight > pre {
	border: 1px solid #F2F2F2;

    .hljs {
        padding: 0;
    }
}

code {
    background: #FAFAFA;
}

.note {
    padding: 0px 40px;
    margin: 30px 0px;
    border-left: 1px solid rgba(60, 147, 206, 0.7);
    color: #3C93CE7;
}

.note > p {
    color: #63A9D8 !important;
	padding: 12px 12px 12px 0;
	margin: 0;
}

.note code {
    background-color: rgba(49, 112, 143, 0.07);
    border-color: rgba(49, 112, 143, 0.1);
    color: inherit;
    padding: 0px 0.5em;
    display: inline-block;
}

.warning {
    padding: 0px 40px;
    margin: 30px 0px;
    border-left: 1px solid #FF9800;;
    color: #FFC107;

    pre {
        border: 1px solid #F2F2F2;

        & > code.hljs {
            color: #7A7A7A;
            background: none;
            border: 0;
        }
    }
}

.warning > p {
    color: #FF9800 !important;
	padding: 12px 12px 12px 0;
	margin: 0;
}

.warning code {
    background-color: rgba(255, 193, 7, 0.07);
    border-color: rgba(255, 193, 7, 0.1);
    color: inherit;
    padding: 0px 0.5em;
    display: inline-block;
}

p > code,
li > code {
    color: #727578;
    padding: 0.3em 0.5em;
    display: inline;
}

/* SOCIAL LINKS WIDGET */
.soc_widget{
    text-align:justify;
    padding-bottom:5px;
    a{
        margin-bottom:15px;
        margin-right:5px;
    }
    &:before{
        content:'';
        display:block;
        width: 100%;
    }
    &:after{
        content: '';
        display:inline-block;
        width: 100%;
    }
}

.soc_outline{
    display:inline-block;
    position:relative;
    width:36px;
    height:36px;
    border:1px solid #000;
    text-align:center;
    @include border-radius(60px);
    @include transition(border-color 0.2s ease-in, color 0.1s ease-in, background 0.2s ease-in);
    i{
        vertical-align:-5px;
    }
    &.twitter{
        border-color:$twitter_color;
        i{ color:$twitter_color; }
        &:hover{ background:$twitter_color; }
    }
    &.facebook{
        border-color:$facebook_color;
        i{ color:$facebook_color; }
        &:hover{ background:$facebook_color; }
    }
    &.google{
        border-color:$google_color;
        i{ color:$google_color; }
        &:hover{ background:$google_color; }
    }
    &.dribbble{
        border-color:$dribbble_color;
        i{ color:$dribbble_color; }
        &:hover{ background:$dribbble_color; }
    }
    &.instagram{
        border-color:$instagram_color;
        i{ color:$instagram_color; }
        &:hover{ background:$instagram_color; }
    }
    &.github{
        border-color:$github_color;
        i{ color:$github_color; }
        &:hover{ background:$github_color; }
    }
    &.rss{
        border-color:$rss_color;
        i{ color:$rss_color; }
        &:hover{ background:$rss_color; }
    }
    &.youtube{
        border-color:$youtube_color;
        i{ color:$youtube_color; }
        &:hover{ background:$youtube_color; }
    }
    &.pinterest{
        border-color:$pinterest_color;
        i{ color:$pinterest_color; }
        &:hover{ background:$pinterest_color; }
    }
    &.linkedin{
        border-color:$linkedin_color;
        i{ color:$linkedin_color; }
        &:hover{ background:$linkedin_color; }
    }
    &.skype{
        border-color:$skype_color;
        i{ color:$skype_color; }
        &:hover{ background:$skype_color; }
    }
    &.tumblr{
        border-color:$tumblr_color;
        i{ color:$tumblr_color; }
        &:hover{ background:$tumblr_color; }
    }
    &:hover i{
        color:#fff;
    }
}

.soc_solid{
    display:inline-block;
    position:relative;
    width:36px;
    height:36px;
    text-align:center;
    @include border-radius(60px);
    @include transition(border-color 0.2s ease-in, color 0.1s ease-in, background 0.2s ease-in);
    i{
        vertical-align:-5px;
    }
    &.twitter{
        background:$twitter_color;
        i{ color:#fff; }
        &:hover i{ color:$twitter_color; }
    }
    &.facebook{
        background:$facebook_color;
        i{ color:#fff; }
        &:hover i{ color:$facebook_color; }
    }
    &.google{
        background:$google_color;
        i{ color:#fff; }
        &:hover i{ color:$google_color; }
    }
    &.dribbble{
        background:$dribbble_color;
        i{ color:#fff; }
        &:hover i{ color:$dribbble_color; }
    }
    &.instagram{
        background:$instagram_color;
        i{ color:#fff; }
        &:hover i{ color:$instagram_color; }
    }
    &.github{
        background:$github_color;
        i{ color:#fff; }
        &:hover i{ color:$github_color; }
    }
    &.rss{
        background:$rss_color;
        i{ color:#fff; }
        &:hover i{ color:$rss_color; }
    }
    &:hover i{
        color:#fff;
    }
    &:hover{
        background:#fff;
    }
}

.widget {
    border-bottom: 0;
}

.info_widget p,
.author_widget p {
    color: #7A7A7A;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}

/*
    FOOTER STYLES
*/

footer{
    .soclinks{
        float:right;
        margin-top:15px;
        a{
            margin-left:10px;
        }
    }
}

.e-fa-twitter:before {
  content: "";
}

.e-fa-linkedin:before {
  content: "\f0e1";
}

.e-fa-google-plus:before {
  content: "\f0d5";
}
