---
---

@import 'compass';
@import 'mixins';
@import 'vars';

body {
    font-family: "Open Sans", sans-serif;
}

i {
    color: #579ED1;
}

figure {
    margin: 40px 2%;
}

h1,
h1 a,
.header h1,
.header h1 a {
    font: 300 42px/66px "Open Sans", "Montserrat", sans-serif;
    margin-bottom: 30px;
    font-weight: 300;
    color: #2C3E50;
}

.postlist article:last-child {
    border-bottom: 0;
}

p {
    font: 400 14px/28px "Open Sans",sans-serif;
}

.postcontents p {
    font: 400 14px/28px "Open Sans",sans-serif;
    color: #7A7A7A;
}

a {
    font: 400 14px/28px "Open Sans",sans-serif;
    color: #00BCD4;
}

.postcontents ol, .postcontents ul {
    font: 400 14px/28px "Open Sans",sans-serif;
    color: #A0A0A0 !important;
}

.postcontents.index p {
	display: block;
}

.postcontents p {
    margin: 30px 0px;
    clear: both;
}

.postcontents > p:first-child {
    font: 500 16px/32px "Open Sans", "Montserrat", serif;
    color: #5A5A5A !important;
}

.postcontents p:nth-of-type(1) {
    color: #7A7A7A;
}

.postcontents strong {
    font-weight: 600;
}

.postcontents {
    h1, h2, h3, h4, h5, h6 {
        color: #7A7A7A;
        padding: 10px 0px;
        font-family: "Open Sans",serif;
        line-height: 1;
        margin: 40px 0 0 0;
        font-weight: 300;
    }

    h1 {
        font-size: 42px;
    }

    h2 {
        font-size: 32px;
        color: #2C3E50;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 20px;
    }

    h1 + .highlight,
    h2 + .highlight,
    h3 + .highlight,
    h4 + .highlight,
    h5 + .highlight,
    h6 + .highlight {
        margin-top: 30px;
    }

    h1 > code,
    h2 > code,
    h3 > code,
    h4 > code,
    h5 > code,
    h6 > code {
        font-size: inherit;
        border: 0;
        padding: 0;
        background: transparent;
        color: #1976BF;
        font-weight: 300;
    }
}

.post {
    a.readmore {
        display: inline-block;
        padding-bottom: 10px;
        margin-top: 30px;
        border-bottom: 2px solid #00BCD4;
        font: 400 13px/1 "Montserrat",sans-serif;
        text-transform: uppercase;
        color: #00BCD4;
    }

    aside {
        margin: 4%;
    }
}

ul.post-meta {
    list-style: none;
    margin-bottom: 20px;
    font-size: 0px;
    line-height: 0;
    padding: 0;

    li {
        color: #BABABA;
        display: inline-block;
        padding-right: 20px;
        margin-right: 15px;
        position: relative;
        font-size: 11px;
        line-height: 1;
        text-transform: uppercase;

        &:after {
            content: "";
            display: block;
            width: 5px;
            height: 5px;
            margin-top: -3px;
            border-radius: 50%;
            background-color: #BABABA;
            position: absolute;
            top: 50%;
            right: 0px;
        }

        &:last-child:after {
            display: none;
        }

        & a {
            font-family: "Open Sans", sans-serif;
            font-size: 11px;
            color: #BABABA;

            &.tag {
                font: 400 10px Montserrat,Arial,sans-serif;
                float: none;
                padding: 4px 10px;
            }
        }
    }
}

a.tag,
.tags_list li a.tag {
    display: inline-block;
    padding: 6px 14px;
    float: left;
    margin: 0px 6px 12px 0px;
    background: none repeat scroll 0% 0% #F7F6F6;
    color: #BABABA;
    border-radius: 4px;
    font: 400 12px Montserrat,Arial,sans-serif;
    text-transform: uppercase;

    &:hover {
        background: #579ED1;
        color: #FFF;
    }
}

pre, pre code {
    font-family: "Source Code Pro", "Consolas", "Menlo", "Monaco", "Courier New", Courier, monospace;
    color: #CB6077;
    background-color: #FFFFFF;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
}

pre, code {
	font-family: "Source Code Pro", "Consolas", "Menlo", "Monaco", "Courier New", Courier, monospace;
    color: #CB6077;
    background-color: #FFFFFF;
    font-size: 13px;
    font-weight: normal;
}

.highlight > pre {
	border-left: 1px solid #F2F2F2;

    .hljs {
        padding: 0;
    }
}

code {
    background: #FFFFFF;
}

.note {
    padding: 2% 2%;
    border: 1px dotted rgba(50, 154, 188, 0.4);
    background: rgba(50, 154, 188, 0.1);
    color: #3389BB !important;
    box-shadow: 0 0 2px rgba(50, 154, 188, 0.1);
}

.note > p {
    color: #03698B !important;
	margin: 0;
}

.note code {
    background: none;
    border: 0;
    color: #1976BF !important;
    padding: 0;
    display: inline-block;
}

.warning {
    padding: 2% 4%;
    margin: 30px 0px;
    border-left: 1px dotted rgba(249, 145, 87, 0.3);
    border-right: 1px dotted rgba(249, 145, 87, 0.3);
    background: rgba(249, 145, 87, 0.02);
    color: #F99157 !important;
    box-shadow: 0 0 2px rgba(249, 145, 87, 0.1);

    > p {
        color: #F99157 !important;
        padding: 12px 12px 12px 0;
        margin: 0;
    }

    code {
        background: none;
        border: 0;
        color: #D9664F !important;
        padding: 0;
        display: inline-block;
    }

    ul {
        margin-left: 40px;
        margin-bottom: 0;

        li {
            padding-left: 0;
            color: #F99157 !important;
        }
    }
}

.note, .warning {
    pre {
        border: 0;

        & > code.hljs {
            color: #7A7A7A;
            background: none;
            border: 0;
        }
    }
}

p > code,
li > code,
table code {
    color: #1976BF;
    padding: 0;
    display: inline;
    font-weight: 400;
    border: 0;
    background-color: #FFFFFF;
}

/* SOCIAL LINKS WIDGET */
.soc_widget{
    text-align:justify;
    padding-bottom:5px;
    a{
        margin-bottom:15px;
        margin-right:5px;
    }
    &:before{
        content:'';
        display:block;
        width: 100%;
    }
    &:after{
        content: '';
        display:inline-block;
        width: 100%;
    }
}

.soc_outline{
    display:inline-block;
    position:relative;
    width:36px;
    height:36px;
    border:1px solid #000;
    text-align:center;
    @include border-radius(60px);
    @include transition(border-color 0.2s ease-in, color 0.1s ease-in, background 0.2s ease-in);
    i{
        vertical-align:-5px;
    }
    &.twitter{
        border-color:$twitter_color;
        i{ color:$twitter_color; }
        &:hover{ background:$twitter_color; }
    }
    &.facebook{
        border-color:$facebook_color;
        i{ color:$facebook_color; }
        &:hover{ background:$facebook_color; }
    }
    &.google{
        border-color:$google_color;
        i{ color:$google_color; }
        &:hover{ background:$google_color; }
    }
    &.dribbble{
        border-color:$dribbble_color;
        i{ color:$dribbble_color; }
        &:hover{ background:$dribbble_color; }
    }
    &.instagram{
        border-color:$instagram_color;
        i{ color:$instagram_color; }
        &:hover{ background:$instagram_color; }
    }
    &.github{
        border-color:$github_color;
        i{ color:$github_color; }
        &:hover{ background:$github_color; }
    }
    &.rss{
        border-color:$rss_color;
        i{ color:$rss_color; }
        &:hover{ background:$rss_color; }
    }
    &.youtube{
        border-color:$youtube_color;
        i{ color:$youtube_color; }
        &:hover{ background:$youtube_color; }
    }
    &.pinterest{
        border-color:$pinterest_color;
        i{ color:$pinterest_color; }
        &:hover{ background:$pinterest_color; }
    }
    &.linkedin{
        border-color:$linkedin_color;
        i{ color:$linkedin_color; }
        &:hover{ background:$linkedin_color; }
    }
    &.skype{
        border-color:$skype_color;
        i{ color:$skype_color; }
        &:hover{ background:$skype_color; }
    }
    &.tumblr{
        border-color:$tumblr_color;
        i{ color:$tumblr_color; }
        &:hover{ background:$tumblr_color; }
    }
    &:hover i{
        color:#fff;
    }
}

.soc_solid{
    display:inline-block;
    position:relative;
    width:36px;
    height:36px;
    text-align:center;
    @include border-radius(60px);
    @include transition(border-color 0.2s ease-in, color 0.1s ease-in, background 0.2s ease-in);
    i{
        vertical-align:-5px;
    }
    &.twitter{
        background:$twitter_color;
        i{ color:#fff; }
        &:hover i{ color:$twitter_color; }
    }
    &.facebook{
        background:$facebook_color;
        i{ color:#fff; }
        &:hover i{ color:$facebook_color; }
    }
    &.google{
        background:$google_color;
        i{ color:#fff; }
        &:hover i{ color:$google_color; }
    }
    &.dribbble{
        background:$dribbble_color;
        i{ color:#fff; }
        &:hover i{ color:$dribbble_color; }
    }
    &.instagram{
        background:$instagram_color;
        i{ color:#fff; }
        &:hover i{ color:$instagram_color; }
    }
    &.github{
        background:$github_color;
        i{ color:#fff; }
        &:hover i{ color:$github_color; }
    }
    &.rss{
        background:$rss_color;
        i{ color:#fff; }
        &:hover i{ color:$rss_color; }
    }
    &:hover i{
        color:#fff;
    }
    &:hover{
        background:#fff;
    }
}

.widget {
    border-bottom: 0;
}

.info_widget p,
.author_widget p {
    color: #7A7A7A;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}

/*
    FOOTER STYLES
*/

footer{
    .soclinks{
        float:right;
        margin-top:15px;
        a{
            margin-left:10px;
        }
    }
}

.e-fa-twitter:before {
  content: "";
}

.e-fa-linkedin:before {
  content: "\f0e1";
}

.e-fa-google-plus:before {
  content: "\f0d5";
}

table {
    border: medium none;
    width: 100%;

    thead th {
        font-family: "Montserrat", serif;
        text-transform: uppercase;
        color: #7A7A7A;
        font-weight: 500;
        text-align: left;
    }

    thead th, tbody td {
        font-size: 12px;
        border-top: 0;
        border-bottom: 1px solid rgba(230, 230, 230, 0.7);
        border-left: 0;
        border-right: 0;
        padding: 20px;
        white-space: pre-wrap;
    }

    tbody td {
        font: 400 13px/28px "Roboto",sans-serif;
        color: #7A7A7A;
    }
}
