<a href="#top" class="backtotop"><i class="fa fa-chevron-up"></i></a>

<footer>
        <div class="wrapper">
            <div class="copyright">
                Copyright &copy; <a href="{{ site.url | prepend: site.baseurl }}">{{site.title}}</a>. 2014 • All rights reserved.<br>
            </div>
            <div class="sociallinks">
                {{> social_footer}}
            </div>
        </div>
    </footer>

<script async type="text/javascript" src="/js/theme.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
