<a href="#top" class="backtotop"><i class="fa fa-chevron-up"></i></a>

<footer>
        <div class="wrapper">
            <div class="copyright">
                Copyright &copy; <a href="{{ site.url | prepend: site.baseurl }}">{{site.title}}</a>. 2016 • All rights reserved.<br>
            </div>
            <div class="soclinks">
                {% if site.github_username %}<a href="https://github.com/{{site.github_username}}" target="_blank" class="soc soc_solid github"><i class="fa fa-github"></i></a>{% endif %}
                {% if site.twitter_username %}<a href="https://twitter.com/{{site.twitter_username}}" target="_blank" class="soc soc_solid twitter"><i class="fa e-fa-twitter"></i></a>{% endif %}
            </div>
        </div>
    </footer>

<script async type="text/javascript" src="/js/theme.min.js"></script>
