<div class="alternate">
    <aside>
        <!-- Description Widget -->
        <div class="widget info_widget">
            <p>{{site.description}}</p>
        </div>
        <!-- Social Widget -->
        <div class="widget soc_widget">
            {% if site.github_username %}<a href="https://github.com/{{site.github_username}}" target="_blank" class="soc soc_outline github"><i class="fa fa-github"></i></a>{% endif %}
            {% if site.twitter_username %}<a href="https://twitter.com/{{site.twitter_username}}" target="_blank" class="soc soc_outline twitter"><i class="fa e-fa-twitter"></i></a>{% endif %}
            {% if site.linkedin_link %}<a href="http://www.linkedin.com/pub/{{site.linkedin_link}}" target="_blank" class="soc soc_outline linkedin"><i class="fa e-fa-linkedin"></i></a>{% endif %}
            <a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank" class="social social_outline rss"><i class="fa fa-rss"></i></a>
        </div>
        <!-- Tag Widget -->
        <div class="widget tag_widget">
           <ul class="tags_list">
               {% for tag in site.data.tags %}
               <li><a class="tag" href="/tag/{{tag.slug}}/">{{tag.name}}</a></li>
               {% endfor %}
           </ul>
        </div>
    </aside>
</div>
