<div class="alternate">
    <aside>
        <!-- Description Widget -->
        <div class="widget info_widget">
            <p>{{site.description}}</p>
        </div>
        <!-- Social Widget -->
        <div class="widget social_widget">
            {% if site.github_username %}<a href="https://github.com/{{site.github_username}}" target="_blank" class="social social_outline github"><i class="fa fa-github"></i></a>{% endif %}
            {% if site.twitter_username %}<a href="https://twitter.com/{{site.twitter_username}}" target="_blank" class="social social_outline twitter"><i class="fa fa-twitter"></i></a>{% endif %}
            {% if site.linkedin_link %}<a href="http://www.linkedin.com/pub/{{site.linkedin_link}}" target="_blank" class="social social_outline linkedin"><i class="fa fa-linkedin"></i></a>{% endif %}
            <a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank" class="social social_outline rss"><i class="fa fa-rss"></i></a>
        </div>
        <!-- Tag Widget -->
        <div class="widget tag_widget">
           <ul class="tags_list">
            <li><a href="http://127.0.0.1:2368/tag/python">Python</a></li>
            <li><a href="http://127.0.0.1:2368/tag/cleo">Cleo</a></li>
        </ul> 
        </div>
    </aside>
</div>