/*
	VARIABLES
*/

$accent_color: #dc5034;
$accent_dark_color: #bb4730;

$twitter_color: #55acee;
$facebook_color: #3b5998;
$google_color: #dd4b39;
$dribbble_color: #ea4c89;
$instagram_color: #3f729b;
$github_color: #171515;
$rss_color: #ee802f;
$youtube_color: #c4302b;
$pinterest_color: #c8232c;
$linkedin_color: #0e76a8;
$skype_color: #00aff0;
$tumblr_color: #34526f;