---
layout: default
---

<div class="container">

  {% include sidebar_category.html %}

  <div class="content">
    {% if site.tags[page.tag] %}
    <div class="widget info_widget">
      <p>{{description}}</p>
    </div>
    <div class="inlinemenu">
      <div class="graybar">
        <div class="left"><i class="fa fa-bars"></i>Navigation</div>
        <div class="right"><i class="fa fa-chevron-down"></i></div>
      </div>
    </div>

    <h1>{{page.title}}</h1>

    <div class="postlist">
      {% for post in site.tags[page.tag] %}
        <article class="post standard">
          <h1><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
          <ul class="post-meta">
             <li>
                 By <a href="{{ post.url | prepend: site.baseurl }}" class="author">Sébastien Eustace</a>
             </li>
             <li>
                 <a href="{{ post.url | prepend: site.baseurl }}" class="date">
                     <i class="fa fa-clock-o"></i>
                     {{ post.date | date: "%b %-d, %Y" }}
                </a>
             </li>
             <li>
                <span class="tags"><i class="fa fa-tags"></i>
                {% for site_category in site.data.categories %}
                    {% if site_category.slug == post.category %}
                    <a href="/category/{{site_category.slug}}/">{{site_category.name}}</a>
                    {% endif %}
                {% endfor %}
                </span>
             </li>
         </ul>
          <div class="postcontents index">
            {{ post.excerpt }}
          </div>
          <div class="footer">
            <a href="{{ post.url | prepend: site.baseurl }}" class="largesolid orange left">Read More</a>
          </div>
        </article>
      {% endfor %}
    </div>
    {% else %}
    <p>There are no posts for this tag.</p>
    {% endif %}
  </div>
</div>
